In [12]:
import pandas as pd

In [16]:
import numpy as np

# 读取没有表头的 TXT 文件
data = np.loadtxt(r'./data/3.有阻尼前进三圈.txt')

df = pd.DataFrame(data)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,0.103259,-0.064724,-9.807859,0.022537,-0.025295,0.044811,-0.033,0.6317,96.0864,0.001,...,0.0,0.0,38.943813,116.991488,0.0,21008.0,1.0,0.0,0.0,4.0
1,0.078615,-0.041932,-9.807854,0.006565,0.001663,-0.026666,-0.033,0.6317,96.0864,0.001,...,0.0,0.0,38.943813,116.991488,0.0,21008.0,1.0,0.0,0.0,4.0
2,0.103286,-0.041934,-9.783177,-0.010336,0.005162,-0.105716,-0.033,0.6317,96.0864,0.001,...,0.0,0.0,38.943813,116.991488,0.0,21008.0,1.0,0.0,0.0,4.0
3,0.128002,0.003628,-9.807908,-0.021585,0.018490,-0.149164,-0.033,0.6317,96.0864,0.001,...,0.0,0.0,38.943813,116.991488,0.0,21008.0,1.0,0.0,0.0,4.0
4,0.127989,0.003614,-9.807908,-0.026712,0.025154,-0.137345,-0.033,0.6317,96.0809,0.001,...,0.0,0.0,38.943813,116.991488,0.0,21008.0,1.0,0.0,0.0,4.0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27132 entries, 0 to 27131
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       27132 non-null  float64
 1   1       27132 non-null  float64
 2   2       27132 non-null  float64
 3   3       27132 non-null  float64
 4   4       27132 non-null  float64
 5   5       27132 non-null  float64
 6   6       27132 non-null  float64
 7   7       27132 non-null  float64
 8   8       27132 non-null  float64
 9   9       27132 non-null  float64
 10  10      27132 non-null  float64
 11  11      27132 non-null  float64
 12  12      27132 non-null  float64
 13  13      27132 non-null  float64
 14  14      27132 non-null  float64
 15  15      27132 non-null  float64
 16  16      27132 non-null  float64
 17  17      27132 non-null  float64
 18  18      27132 non-null  float64
 19  19      27132 non-null  float64
 20  20      27132 non-null  float64
 21  21      27132 non-null  float64
 22  22      27132 non-null  float64
 23  23      27132 non-null  float64
 24  24      27132 non-null  float64
 25  25      27132 non-null  float64
 26  26      27132 non-null  float64
 27  27      27132 non-null  float64
 28  28      27132 non-null  float64
 29  29      27132 non-null  float64
 30  30      27132 non-null  float64
 31  31      27132 non-null  float64
dtypes: float64(32)
memory usage: 6.6 MB

In [14]:
# data = pd.read_csv('./data/1.无阻尼前进三圈.txt', sep=" ", header=None)
df = pd.read_csv(r'./data/3.有阻尼前进三圈.txt', sep=" ", header=None)
df.head()

ParserError: Error tokenizing data. C error: Expected 294 fields in line 7, saw 296